.board-group{
    border-bottom: 2px solid var(--site_brown);
    padding: 5px;
}

.pick-a-plan{
    display: grid;
    grid-template-columns: 35% auto;
    border-bottom: 2px solid var(--site_brown);
    padding: 10px;
}

.imperial-grid-container{
    display: grid;
    grid-template-columns: 25% 65% 10%;
}
.dimension-labels, .dimension-input-area, .dimension-fraction-selection{
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
}
.dimension-input-area{
    grid-template-columns: 1fr; /* Force inputs to fill entire space */
    width: 100%;
}
.kerf-message, .plan-message{
    display: none;
    margin-bottom: 2%;
    border: 2px solid var(--site_brown);
    padding: 5px
}

.plan-message{
    padding: 10px;
    border-bottom: 2px solid var(--site_brown);
}
.button-row{
    padding: 5px;
}
h1, h2{
    color: var(--site_brown);
    border-bottom: 2px solid var(--site_brown);
}
#dimension-form{
    display: flex;
    flex-direction: column;
}

#kerf-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#cut-container, #instruct-container, #radio-container{
    display: grid;
    grid-template-columns: 47.5% auto 47.5%;
}

#imperial-header, #metric-header, h1{
    text-align: center;
}


/* Radio Button Styles */
/*customize label container*/
.unit-label, .kerf-label{
    display: block;
    position: relative;
    cursor:pointer;
    padding-left: 35px;
    font-size: 22px;
    margin-bottom: 12px;
    user-select: none;
}

/*hide the browsers default radio button*/
.unit-label input, .kerf-label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*create a custom radio button*/
.radio-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: var(--dark_nav_background);
    border-radius: 50%;
}

/*on mouse-over */
.unit-label:hover input ~ .radio-text, .kerf-label:hover input ~ .radio-text{
    background-color: var(--off_white_text);
}

/*create indicator dot/circle hidden when not checked */
.radio-text:after{
    content: "";
    position:absolute;
    display: none;
}

/*show indicator when checked*/
.unit-label input:checked ~ .radio-text:after, .kerf-label input:checked ~ .radio-text:after{
    display: block;
}

/*style the indicator*/
.unit-label .radio-text:after, .kerf-label .radio-text:after{
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--off_white_text);
}

/*End radio styles */


/*Stylization for buttons begins here*/
.board-btn{
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 16px;
}

.board-btn:hover, #kerf-info:hover{
    color: var(--off_white_text);
    background-color: var(--dark_nav_background);
}

#kerf-info, #plan-select, #plan-info{
    border: none;
    font-size: 12px;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 6px;
    border-radius: 16px;
}

.number-input{
    border: 1px solid grey;
    padding: 10px;
    font-size: 12px;
    width: 90%;
}

.number-input:hover, .fraction-select:hover, #plan-select:hover, #plan-info:hover{
    background-color: var(--dark_nav_background);
    color: var(--off_white_text);
}

.fraction-select{
    border: 1px solid grey;
    padding: 10px;
    font-size: 12px;
    float: right;
}

#plan-info{
    margin-right: 2%;
}
#plan-select{
    border: 1px solid grey;
    padding: 10px;
    font-size: 12px;
    margin-left: 2%;
    margin-bottom: 1%;
}

.metric-grid-container{
    display: grid;
    grid-template-columns: 25% auto;
}

.metric-label-div, .metric-number-div{
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
}

#hidden-select-1{
    visibility: hidden;
}

#bottom-btn-row{
    margin-top: 2%;
    border-top: 2px solid var(--site_brown);
    display: flex;
    justify-content: center;
}
#submit-button{
    font-size: 24px;
}
