<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devce-width, inital-scale=1.0">
    <title>WoodShop.ai</title>

    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Header Banner for site pages -->
    <nav class="top-nav-bar">
        <div class="top-title-box">

            <div class="logo-box">
                <a id="top-title" href="/">
                    <img class="site-logo" src="./static/img/woodwork_erased.png" alt="logo">
                    Woodshop.ai
                </a>
            </div>

            <div class="sign-in">
                <a id="sign-in" href="/login">Sign-in</a>
            </div>
        </div>
    </nav>

    <div id="foreground">

            <nav class="side-nav-bar">
                    <a class="top-button-link" href="/"><i class="fa fa-home"></i> Home</a>
                    <a class="top-button-link" href="/plans"><i class="fa fa-map"></i> Wood Plans</a>
                    <a class="top-button-link" href="/cuts"><i class="fa fa-calculator"></i> Cut Optimizer</a>
                    <a class="top-button-link" href="/identify"><i class="fa fa-search"></i> Wood ID</a>
                    <a class="top-button-link" href="/"><i class="fa fa-info-circle"></i> About</a>
            </nav>


    </div>  
    <script type="text/javascript" src="./static/src/index.js"></script>
</body>